<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-ng-app="giftknacksApp" ng-cloak class="ng-cloak">

	@RenderBody()


	@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="http://giftknackapi.azurewebsites.net/signalr/hubs"></script>
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/app")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/vendors")
	@RenderSection("scripts", required: false)
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en-US"></script>
</body>
</html>
